@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height:90vh;background-image:url('/Images/LifeCoachManagementBackground.jpg'); background-size: cover; background-position:center;">

    <div class="col-6 d-flex flex-column h-100 justify-content-center  align-items-center">
        <h1 class="display-4 fw-bold" style="color:rgb(160, 208, 204);">Discover Your Inner Balance</h1>
        <p class="fs-4" style="color:rgb(160, 208, 204);"> Thrive, not Survive  |  Empowering You to Find Balance</p>
    </div>

</div>
