@model LifeCoachManagement.Models.Category
@{
    ViewData["Title"] = "Add Category";
}

<h2>Add Category</h2>
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Back to Categories List</a>
