@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center" style="background-image:url('/Images/LifeCoachManagementBanner.jpg'); background-size: cover; background-position:center;">
    <div class="col-6 d-flex flex-column justify-content-center  align-items-center">
        <div class="col-md-5 m-4 p-4 rounded" style="background-color: rgba(0, 0, 0, 0.5);">
            <h1 style="color:rgb(160, 208, 204);">Регистрирай се!</h1>
            <section>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Имейл</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Name">Потребителско име</label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="name" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.FirstName">Име</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="name" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.LastName">Фамилия</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Парола</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Потвърди паролата</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary border-0" style="background-color:rgb(160, 208, 204);">Регистрация</button>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
